SHELL=/bin/sh
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
#
#minute	hour	mday	month	wday	who	command
#
# Backup files after daily/weekly/monthly maintenance.
45	6	*	*	*	root	/var/scripts/backup/rdiff-backup.sh <name> cron
# Snapshot ZFS datasets at midnight.
@daily					root	/var/scripts/backup/zfs-autobackup.sh <name> cron
